name: "size"

on:
  pull_request:
    branches:
      - master

jobs:
  size:
    runs-on: ubuntu-latest

    env:
      CI_JOB_NUMBER: 1

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*

      - name: Install dependencies
        env:
          HUSKY: 0
        run: |
          npm ci

      - name: Run size
        uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
